@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.node {
     width: 35px;
     height: 35px;
     border: solid #242625 1px;
}

.griddy {
     grid-template-columns: repeat(55, 1fr);
}

.NodeChange {
     background-color: #94a3b8;
}

.PathNode {
     background-color: #bff89f;
}
