@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.griddy {
     grid-template-columns: repeat(65, 1fr);
}

.NodeChange {
     background-color: #94a3b8;
}

.PathNode {
     background-color: #bff89f;
}

input[type="radio"] {
     visibility: hidden;
     height: 0;
     width: 0;
}

input[type="radio"]:checked + label {
     color: #555a56;
}
